body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.color-container {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}
